{% extends 'movieapp/base.html' %}

{% block body %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="containerz">
        <label>Movie Name</label><br>
        <input type="text"  name="name" value="{{value.name}}" placeholder=" Enter Movie Name"><br>

        <label>Movie Description</label><br>
        <input type="text" name="desc" value="{{value.desc}}" placeholder=" Enter Movie Description"><br>

        <label>Movie Year</label><br>
        <input type="text" name="year" value="{{value.year}}" placeholder=" Enter Movie Year"><br>

        <label>Movie Image</label><br>
        <input class="sub" type="file" name="image" value="{{value.image}}" ><br><br>
        <input  type="submit"><br>

    </div>
</form>

{% endblock %}